body {
        background-image: url("backgroundimage1.jpeg");
        background-size: cover;
        font-family: "Montserrat", serif;
        font-optical-sizing: auto;
        font-weight: weight;
        font-style: normal;
        margin:0;
        
        color:aliceblue;
  } 

.main{
 
  display:flex;
  height:100vh; /*vh= view prot "height according to screen" */
  padding: 0.5rem;
}
.side_bar{
    background-color:rgba(255, 255, 255, 0.04);
    box-shadow:0 0 10px rgba(255, 255, 255, 0.2);
    width:340px;
    border-radius: 1rem; /* 16px */
   margin-right: 0.5rem;
}

.main_content{
    background-color:rgba(255, 255, 255, 0.04);
    padding: 0 1.5rem 0 1.5rem;
    flex:1;
   
    overflow: auto;
    
}
.music_player{
    background-color: #232323;
    box-shadow:0 0 5px rgba(255, 255, 255, 0.3);
    position:fixed;
    bottom: 0px;
    width:100%;
    height:72px;

}

a{
    text-decoration: none;
    color: #fff;
}

.nav{
    background-color:rgba(255, 255, 255, 0.04);
    box-shadow:0 0 10px rgba(255, 255, 255, 0.3);
    border-radius: 1rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    padding: 0.5rem 0.75rem;
}
.account {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 1rem;
    font-size: 1.25rem;
}
.nav-option{
    line-height: 2.5rem;
    opacity: 0.7;
    padding: 0.5rem 0.75rem;
    
    display: inline-block;
}
.nav-option:hover{
    line-height: 2.5rem;
    opacity: 1;
}
.nav-option i {
    font-size: 1.25rem;
}
.nav-option a{
    font-size: 1rem;
    margin-left: 1rem;
}
.library{
    background-color:rgba(255, 255, 255, 0.04);
    box-shadow:0 0 10px rgba(255, 255, 255, 0.3);
    border-radius: 1rem;
    height: 100vh;
    margin-top: 0.5rem;
    padding: 0.5rem 0.75rem;
}
.options{
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.lib-option img {
    height: 1.25rem;
    width:1.25rem;
}
.icons {
    font-size: 1.25rem;
    display: flex;

}

.icons i {
    opacity: 0.7;
    margin-right:1rem;
}
.icons i:hover {
    opacity: 1;
} 

.box {
    background-color: #232323;
    box-shadow:0 0 5px rgba(255, 255, 255, 0.3);
    height: 9rem;
    border-radius: 0.75rem;
    margin: 0.75rem 0 0.75rem 0;
    padding: 0.75rem 1.75rem;
}
.box-p1 {
    font-size: 1rem;
    font-weight: 500;
}
.box-p2 {
    font-size:0.75rem;
    opacity: 0.9;
}
.badge {
    background-color: #fff;
    border: none;
    border-radius: 100px;
    padding: 0.25rem 1rem;
    font-weight: 700;
    margin-top: 0.5rem;
    height: 2rem;
    width: fit-content;
}
.dark-badge {
    background-color: #232323;
    box-shadow:0 0 10px rgba(255, 255, 255, 0.3);
    color: #fff;
}
.sticky-nav {
    background-color: #232323;
    box-shadow:0 0 5px rgba(255, 255, 255, 0.3);
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 1rem 0;
    z-index: 10; /* to give priority (z-index is directly proportinal) */
}
.sticky-nav-icon {
    margin-left: 0.75rem;
}
.sticky-nav-options  {
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-item {
    margin: 1rem;
}
.down-log {
    font-size: medium;
}
@media (max-width: 1024px) {
    .hide {
        display: none;
    }
}
.card {
    background-color: #232323;
    box-shadow:0 0 5px rgba(255, 255, 255, 0.3);
    width: 150px;
    border-radius:0.5rem;
    padding: 1rem;
    margin-left: 1.5rem;
    margin-top: 1rem;
}
.cards-container {
    display: flex;
    flex-wrap: wrap;
}
.card img {
    width:100%;
    border-radius: 0.5rem;
}
.card-title {
    font-weight: 600;
}
.card-info {
    font-size: 0.85rem;
    opacity: 0.8;
}
/* .main-raho-img {
    height: 9.3rem;
} */

.footer {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content:center ;
}
.line {
    width: 97%;
    height: 10%;
    border-top: 1px solid white;
    opacity: 0.4;
}

.music_player {
    display: flex;
    justify-content: space-around;
    align-items: center; 
}

.album {
    width: 25%;
    
}

.player {
    width: 50%;
    
}
.third-part { /*player control bottom*/
    width: 25%;
}
.player-control {
    display: flex;
    justify-content: center;
    align-items: center; 
}
.player-control-icon {
    height: 1.2rem;
    margin-right: 2.5rem;
    opacity: 0.7;
}
.player-control-icon:hover {
    opacity: 1;
}

.playback-bar {
    display: flex;
    justify-content: center;
    align-items: center;
}
.progress-bar {
    width: 68%;
    appearance:none;
    background-color: transparent;
    cursor: pointer;
}

.progress-bar::-webkit-slider-runnable-track { /*it is use to restyle the radio track*/
    background-color: #ddd;
    border-radius: 100px;
    height: 0.2rem;
}

.progress-bar::-webkit-slider-thumb {  /*it is use to restyle the radio thumb*/
    appearance: none;
    height: 1rem;
    width: 1rem;
    background-color:rgba(0, 0, 0, 1);
    box-shadow:0 0 10px rgba(255, 255, 255, 1);
    border-radius: 50%;
    margin-top: -6px;
}

.album-item img {
    height:80% ;
    width:20% ;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    border-radius: 1rem;
}
.album-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.85rem;

    
}
.album {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.album-text {
    justify-content: center;
    margin-right: 5.5rem;
    
}
.album-icon {
    display: flex;
    font-size: 1.5rem;
}
@media (max-width:1450px) {
        .album-text {
            display: none;
        }
}
@media (max-width:690px) {
    .album-icon {
        display: none;
    }
}
@media (max-width:690px) {
    .third-part {
        display: none;
    }
}

.third-part {
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-right:9rem ;
}
.third-part-icon {
    height: 1.4rem;
    margin-right: 1rem;
    opacity: 0.7;
}

@media (max-width:860px) {
    .side_bar {
        width: 239px;
    }
    .third-part {
        display: none;
    }
    .player-control{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .box2{
        background-color: #232323;
        box-shadow:0 0 5px rgba(255, 255, 255, 0.3);
        height: 10rem;
        border-radius: 0.75rem;
        margin: 0.75rem 0 0.75rem 0;
        padding: 0.75rem 1.75rem;
        
    }
    .album-item img {
        height:90% ;
        width:30% ;
        margin-left: 0.5rem;
        margin-top: 0.5rem;
        border-radius: 1rem;
    }
}
@media (max-width:750px) {
    .side_bar {
        display: none;
    }
    .album-item img {
        height:115% ;
        width:50% ;
        margin-left: 0.5rem;
        margin-top: 0.5rem;
        border-radius: 1rem;
    }
}
@media (max-width:420px) {
    .album-item img {
        height:160% ;
        width:60% ;
        margin-left: -1.1rem;
        margin-top: 0.5rem;
        border-radius: 1rem;
        padding-bottom: 10px;
    }
    .player-control-icon {
        height: 1.2rem;
        margin-right: 1.15rem;
        opacity: 0.7;
    }
    
}
@media (max-width:512px) {
    .card {
        background-color: #232323;
        box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
        width: 60px;
        border-radius: 0.5rem;
        padding: 1rem;
        margin-left: 1.5rem;
        margin-top: 1rem;
    }
    .card-info{
        display: none;
    }
    .card-title {
        font-weight: 500;
        font-size: 10px;
    }
}
@media (max-width:400px) {
    .card {
        background-color: #232323;
        box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
        width: 50px;
        border-radius: 0.5rem;
        padding: 1rem;
        margin-left: 1.5rem;
        margin-top: 1rem;
    }
    .card img {
        width: 140%;
        padding: 0 0px 0px 0px;
        margin: -10px 0px 0px -10px;
        border-radius: 0.5rem;
    }
    .playback-bar {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 0 0px 0 -26px;
    }
}